@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Handjet:wght@100..900&display=swap");
:root {
  --primary-color: #2c3e50;
  --secondary-color: #34495e;
  --accent-color: #e74c3c;
}

* {
  font-family: "Handjet", sans-serif;
}

body {
  margin: 0;
  padding: 0;

  background: linear-gradient(
    135deg,
    var(--primary-color),
    var(--secondary-color)
  );
}

#root {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

#app {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  padding: 20px;
}

#huongdan {
  background-color: seashell;
  padding: 5px;
  border-radius: 10%;
  max-width: 300px;
}

h1 {
  color: var(--accent-color);
  font-size: 2rem;
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  animation: pulse 2s infinite alternate;
  text-shadow: 0 0 10px rgba(231, 76, 60, 0.5);
}

#gameCanvas {
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(231, 76, 60, 0.3);
  animation: border-pulse 1.5s infinite alternate;
}

/* Styles for the game modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex; /* Ensure the modal is displayed */
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal.hidden {
  display: none;
}

.modal-content {
  background-color: seashell;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-content button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1rem;
  cursor: pointer;
}

/* Styles for the input field in the modal */
.modal-content input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
}

.score {
  font-size: 1.5rem;
  margin: 0;
}

.score.green {
  color: rgb(90, 255, 90);
}

.score.red {
  color: rgb(255, 111, 0);
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

@keyframes border-pulse {
  0% {
    box-shadow: 0 0 10px rgba(231, 76, 60, 0.3);
  }
  100% {
    box-shadow: 0 0 30px rgba(231, 76, 60, 0.6);
  }
}

/* ...existing styles... */
#room {
  background-color: azure;
  padding: 5px;
  width: auto;
  border-radius: 10px;
}
